
# .gitignore

# pattern-gen
tools/pattern-gen/*.out
tools/pattern-gen/**/*.out

# assembly options
assembly-level/src/options.asm
assembly-level/src/rom.asm

# vasm output
assembly-level/*.bin
assembly-level/**/*.bin

# py65 output
assembly-level/dump/

# python
__pycache__/

# vcd_to_png output
hardware-level/src/**/screen.png

# icarus verilog output
hardware-level/src/**/dump.vcd

# fusesoc
fusesoc/
build/
fusesoc_libraries/
fusesoc.conf
