
# .gitignore

# pattern-gen
tools/pattern-gen/*.out
tools/pattern-gen/**/*.out

# vasm output
assembly-level/old/src/dump/*

# py65 output
assembly-level/**/dump/

# python
__pycache__/

# fusesoc
fusesoc/
build/
fusesoc_libraries/
fusesoc.conf
