
/* home.css */

#__MAIN__ {
    min-height: 50vh;
}

header {
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
}

header > h1 {
    text-shadow: 0 0 .8em white;
    font-size: 7vw;
}

#IEEE-Logo {
    max-width: 10rem;
    filter: drop-shadow(0 0 .8rem white);
}
