
/* site.css */


/* ======= Defaults ======= */

html,
body {
    margin: 0;
    font-size: 23px;
    font-family: 'Montserrat', sans-serif;
}

/* Element Defaults */
img {
    max-width: 100%;
    display: block;
}
a {
    color: inherit;
    text-decoration: none;
}
a:active {
    color: inherit;
}
p, li {
    line-height: 155%;
}
p {
    text-indent: 1em;
}
code,
textarea {
    font-size: .8em;
}
textarea {
    resize: none;
    /* To be overwritten by JavaScript */
    opacity: 0;
}

/* CodeMirror */
.CodeMirror {
    height: auto !important;
    font-size: 0.75rem;
}
.CodeMirror-scroll {
    /* ASSUME THIS WILL BREAK AT SOME POINT */
    /* this is a temprary fix for codemirror auto resize */
    height: unset !important;
}

/* Buttons */
.clickable { cursor: pointer; width: fit-content; }
.clickable:hover { transform: scale(1.05); }
.clickable:active { transform: scale(.98); }

.button {
    color: aliceblue;
    font-size: 1.2em;

    background-color: #00000050;
    border: #0000006b solid 2px;
    padding: 1.1em;
    border-radius: 2em;

    text-align: center;
}

.clickable,
.animated,
.animated * {
    transition-timing-function: ease-out;
    transition-duration: .1s;
}

/* Links */
.external-link::after {
    content: "";

    display: inline-block;
    width: 1em;
    height: 1em;

    background-image: url( "/_media/external-link.svg" );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
p a,
a.blue {
    color: #4c61a8c9;
}


.center {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
.center:not( img ) {
    width: fit-content;
}
.center-text {
    text-align: center;
}

/* from https://stackoverflow.com/a/54924505 */
.center-within {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 60%;
    padding-top: 25px;
    height: 0;
}

.center-within iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }




.big {
    font-size: 1.5rem;
}

/* ======= Site Styling ======= */

header {
    background: #79bfd8;
    background: linear-gradient(15deg, #c3e7aa 0%, #2d87fd 90%);

    display: flex;
    align-items: center;
    /* justify-content: center; */

    box-shadow: 0 -2rem 1rem 2rem #00000059;
}

header h1 {
    text-align: center;
    margin: 0;
    padding: 0;

    text-shadow: 0 0 .8em white;
}

#__MAIN__ {
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
}
